@model ProsjektOppgave1.Models.Kunde
@{
    ViewBag.Title = "Utlogget"
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UtLogg</title>

</head>
<body>
    <div> 
    </div>
</body>
</html>
